<html>
<head>
	<link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/list.js"></script>
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
</head>
<body>
<h1>Bookish</h1>
<div id="isbn-form">
    <label for="isbn">ISBN13:</label>
    <input type="text" id="isbn" name="isbn">
</div>
<div id="booklist">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="Title">
    Sort by title
  </button>
  {% block body %}
  {{ table|safe }}
  {% endblock %}
</div>
</body>
<script>
  $("#isbn").bind("enterKey",function(e){
    $.post("/get-book-by-isbn", $("#isbn").serialize(), function(data) {
        // add returned data to table here
    });
  });
  $("#isbn").keyup(function(e){
    if(e.keyCode == 13) {
      $(this).trigger("enterKey");
    }
  });
  $("tbody").addClass("list");
  $("table tr td:nth-child(1)").addClass('Cover Image');
  $("table tr td:nth-child(2)").addClass('Book Id');
  $("table tr td:nth-child(3)").addClass('Title');
  $("table tr td:nth-child(4)").addClass('Author');
  $("table tr td:nth-child(5)").addClass('Author l-f');
  $("table tr td:nth-child(6)").addClass('Additional Authors');
  $("table tr td:nth-child(7)").addClass('ISBN');
  $("table tr td:nth-child(8)").addClass('ISBN13');
  $("table tr td:nth-child(9)").addClass('Publisher');
  $("table tr td:nth-child(10)").addClass('Binding');
  $("table tr td:nth-child(11)").addClass('Number of Pages');
  $("table tr td:nth-child(12)").addClass('Year Published');
  $("table tr td:nth-child(13)").addClass('Original Publication Year');
  $("table tr td:nth-child(14)").addClass('Date Read');
  $("table tr td:nth-child(15)").addClass('Bookshelves');
  $("table tr td:nth-child(16)").addClass('Exclusive Shelf');
  $("table tr td:nth-child(17)").addClass('My Review');
  window.onload = function() {
		var options = {
			valueNames: [ 'Cover Image', 'Book Id', 'Title', 'Author', 'Author l-f', 'Additional Authors', 'ISBN', 'ISBN13', 'Publisher', 'Binding', 'Number of Pages', 'Year Published', 'Original Publication Year', 'Date Read', 'Bookshelves', 'Exclusive Shelf', 'My Review'],
		};

		var booklist = new List('booklist', options);
	};
</script>
</html>
