<html>
<head>
	<link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/list.js"></script>
    <script src="/static/js/papaparse.js"></script>
</head>
<body>
<h1>Bookish</h1>
<form action="/get-book-by-isbn" method="post">
    <div>
        <label for="isbn">ISBN13:</label>
        <input type="text" id="isbn" name="isbn">
    </div>
</form>
<input id="file-input" type="file">
<div id="booklist">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="Title">
    Sort by title
  </button>
  <table>
    <tbody class="list">
      <tr>
      	<td class="Cover Image"><img src="http://covers.openlibrary.org/b/isbn/0385472579-S.jpg"></td>
        <td class="Book Id">1234</td>
        <td class="Title">Why I Am Afraid of Bees</td>
        <td class="Author">R. L. Stine</td>
        <td class="Author l-f"></td>
        <td class="Additional Authors"></td>
        <td class="ISBN"></td>
        <td class="ISBN13"></td>
        <td class="Publisher"></td>
        <td class="Binding"></td>
        <td class="Number of Pages"></td>
        <td class="Year Published"></td>
        <td class="Original Publication Year"></td>
        <td class="Date Read"></td>
        <td class="Bookshelves"></td>
        <td class="Exclusive Shelf"></td>
        <td class="My Review"></td>
        <td class="Spoiler"></td>
        <td class="Private Notes"></td>
        <td class="Read Count"></td>
      </tr>
    </tbody>
  </table>
</body>
<script>
    window.onload = function() {
		var fileInput = document.getElementById('file-input');
		var fileDisplayArea = document.getElementById('fileDisplayArea');

		fileInput.addEventListener('change', function(e) {
			var file = fileInput.files[0];
			var textType = /text.*/;

			if (file.type.match(textType)) {
				var reader = new FileReader();

				reader.onload = function(e) {
					var books = Papa.parse(reader.result, { header: true });
					console.log(books);
					var options = {
						valueNames: [ 'Cover Image', 'Book Id', 'Title', 'Author', 'Author l-f', 'Additional Authors', 'ISBN', 'ISBN13', 'Publisher', 'Binding', 'Number of Pages', 'Year Published', 'Original Publication Year', 'Date Read', 'Bookshelves', 'Exclusive Shelf', 'My Review', 'Spoiler', 'Private Notes', 'Read Count' ],
					};

					var booklist = new List('booklist', options);
					books.data.forEach(function(element) {
            element["Cover Image"] = '<img src="/static/img/'.concat(element['ISBN13'], '-S.jpg">');
            console.log(element);
						booklist.add(element);
				  });
				}

				reader.readAsText(file);	
			} else {
				fileDisplayArea.innerText = "File not supported!"
			}
		});
    }
</script>
</html>
